/* @import-normalize; */

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-attachment: fixed;
  background-position: 700px 400px;
  right: 30px;
  bottom: 30px;
  background: linear-gradient(
    to right,    
    #a58ae5 -0.99%,
    #5736a3a6 54.28%,
    #7d5bcd 78.99%
    
  );
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
