/* @import-normalize; */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  body {
    line-height: 1.5;
    /* background-image: url('https://cdn.pixabay.com/photo/2016/02/01/18/59/filmstrip-1174228_960_720.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 700px 400px;
    background-size: 500px;
    right: 30px;
    bottom: 30px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  li {
    list-style: none;
   
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }